/* Write your code here. */

.container {
  background-color: #ffffff;
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading {
  color: #0f172a;
  font-family: "Bree Serif";
  font-size: 32px;
  font-weight: 500;
}
.box-container {
  display: flex;
}
.small-box {
  background-color: #fbbf24;
  height: 50px;
  width: 50px;
  color: #ffffff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 12px;
}

.medium-box {
  background-color: #38bdf8;
  height: 100px;
  width: 100px;
  color: #ffffff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 12px;
}

.large-box {
  background-color: #ec4899;
  height: 150px;
  width: 150px;
  color: #ffffff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 12px;
}

@media (max-width: 576px) {
  .heading {
    font-size: 40px;
  }
  .box-container {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .small-box {
    margin-bottom: 12px;
    justify-content: center;
  }

  .medium-box {
    margin-bottom: 12px;
    justify-content: center;
  }

  .large-box {
    margin-bottom: 12px;
    justify-content: center;
  }
}
